.footer {
  box-shadow: 0 50vh 0 50vh #292b2c;
  background-color: #292b2c;
  color: white;
  text-align: center;
}

footer {
  margin-top: 30px;
}

h2 {
  font-size: 30px;
}

.container {
  line-height: 50px;
  background: white;
}

.paragraph {
  margin: 20px;
}

.carousel {
  margin: 40px;
}

.input-group {
  margin: 70px;
}

.header {
  text-decoration: underline;
}

html,
body {
  background-image: url("./images/morocco.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  margin-bottom: 30px;
}
